/* Carousel container */
.top-artist-carousel-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto; /* Center the carousel */
  overflow: hidden; /* Hide the overflowing images */
}

/* Wrapper for the images */
.top-artist-carousel-images-wrapper {
  width: 100%;
  display: flex;
  overflow: hidden;
}

/* Images container (moves left-right) */
.top-artist-carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out; /* Smooth sliding effect */
}

/* Individual image container */
.top-artist-carousel-item {
  flex: 1 0 25%; /* Each item takes 25% of the width (4 items per row) */
  padding: 10px;
  text-align: center;
}

.top-artist-carousel-image {
  width: 100%;
  height: 200px; /* Fixed height for consistent sizing */
  object-fit: cover; /* Ensures all images are cropped to fit and consistent */
  border-radius: 10px;
  margin-bottom: 10px;
}

.top-artist-artist-info {
  font-size: 16px; /* Increase font size for better visibility */
  color: #333;
  display: flex;
  flex-direction: column; /* Stack name and description vertically */
  align-items: center; /* Center align the text */
}

.top-artist-artist-name {
  font-weight: bold; /* Make artist name bold */
  font-size: 20px; /* Larger font size for the name */
  width: 100%; /* Ensure the name takes full width to fit in one line */
  font-family: 'Playfair Display', serif;
}

.top-artist-artist-description {
  font-style: italic;
  font-size: 16px; /* Slightly larger description for readability */
  padding-top: 5px; /* Space between name and description */
  font-family: 'Playfair Display', serif;
}


/* Prev and Next buttons */
.top-artist-carousel-button {
  background-color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  width: 50px;  
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;       
  align-items: center; 
  justify-content: center;
  z-index: 2;
}

.top-artist-carousel-button.prev {
  left: 10px;
}

.top-artist-carousel-button.next {
  right: 10px;
}

.top-artist-carousel-button:hover {
  background-color: grey;
}

