.top-artist-carousel-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  overflow: hidden;
}

.top-artist-carousel-images-wrapper {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.top-artist-carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.top-artist-carousel-item {
  flex: 1 0 25%;
  padding: 10px;
  text-align: center;
}

.top-artist-carousel-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.top-artist-artist-info {
  font-size: 16px;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-artist-artist-name {
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  font-family: "Playfair Display", serif;
}

.top-artist-artist-description {
  font-style: italic;
  font-size: 16px;
  padding-top: 5px;
  font-family: "Playfair Display", serif;
}

.top-artist-carousel-button {
  background-color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.top-artist-carousel-button.prev {
  left: 10px;
}

.top-artist-carousel-button.next {
  right: 10px;
}

.top-artist-carousel-button:hover {
  background-color: grey;
}

@media (max-width: 768px) {
  .top-artist-carousel-item {
    flex: 1 0 33.33%;
    padding: 8px;
  }

  .top-artist-carousel-image {
    height: 150px;
  }

  .top-artist-artist-name {
    font-size: 18px;
  }

  .top-artist-artist-description {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .top-artist-carousel-item {
    flex: 1 0 50%;
    padding: 5px;
  }

  .top-artist-carousel-image {
    height: 120px;
  }

  .top-artist-artist-name {
    font-size: 16px;
  }

  .top-artist-artist-description {
    font-size: 12px;
  }
}
