/* .container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 8%;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
}

.col {
  display: flex;
  flex-direction: column;
}

.left {
  flex-basis: 30%;
  min-width: 320px;
  margin-right: 60px;
}

.right {
  flex-basis: 60%;
}

.contactTitle h2 {
  position: relative;
  font-size: 28px;
  color: #ddd;
  display: inline-block;
  margin-bottom: 25px;
}

.contactTitle h2::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 1px;
  background-color: #888;
  top: 120%;
  left: 0;
}

.contactTitle h2::after {
  content: '';
  position: absolute;
  width: 25%;
  height: 3px;
  background-color: #51C2FF;
  top: calc(120% - 1px);
  left: 0;
}

.iconGroup {
  display: flex;
  align-items: center;
  margin: 25px 0px;
}

.icon {
  width: 45px;
  height: 45px;
  border: 2px solid #51C2FF;
  border-radius: 50%;
  margin-right: 20px;
  position: relative;
}

.icon i {
  font-size: 20px;
  color: #ddd;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.details span {
  display: block;
  color: #888;
  font-size: 18px;
}

.details span:nth-child(1) {
  text-transform: uppercase;
  color: #ccc;
}

.socialMedia {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 22px 0px 20px;
}

.socialMedia a {
  width: 35px;
  height: 35px;
  text-decoration: none;
  text-align: center;
  margin-right: 15px;
  border-radius: 5px;
  background-color: #51C2FF;
  transition: 0.4s;
}

.socialMedia a i {
  color: #ddd;
  font-size: 18px;
  line-height: 35px;
  border: 1px solid transparent;
}

.socialMedia a:hover {
  transform: translateY(-5px);
  background-color: #2e2e2e;
  color: #51C2FF;
  border: 1px solid #51C2FF;
}

.socialMedia a:hover i {
  color: #51C2FF;
} */
