.header {
  display: flex;
  justify-content: space-between;  
  align-items: center;
  margin-bottom: 0;
  height: 60px;
  padding: 0 20px;
  background-color: black;
}

.header .logo {
  font-size: 24px; 
  font-weight: bold;
  color: white; 
  font-family: 'Playfair Display', serif;
  /* Adding left padding for better alignment */
  /* padding-left: 10px; */
  padding-left: 0;
}

.header .nav-icons {
  display: flex;
  align-items: center;
  color: white;
}

.header .nav-icon {
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-size: 16px;
  cursor: pointer; 
  font-family: 'Playfair Display', serif;
}

.header .nav-icon span {
  margin-left: 8px;
}

.header .nav-icon:hover {
  color: #ccc;
}

img.logo {
  width: auto;
  height: 100px;
}
